/* -_- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

nav {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  z-index: 20;
}

/* Header Styling */

.header {
  height: 80vh;
  /* width: 1440px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: whitesmoke; */
  background-image: url(/fontend/images/SamuraiBlack.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#navLogo img {
  width: 100px;
  height: auto;
}

.header .loginForm {
  background-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  padding: 24px 32px;
  margin-top: 32px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
}

.loginForm input {
  padding: 8px 16px;
  border-radius: 4px;
}

.loginForm h3 {
  margin-bottom: 16px;
  color: #fff;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  background: #fff;
  width: 100%;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.seeMore {
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}

.seeMore:hover {
  border: none;
}

.btn:hover {
  background: rgb(128, 240, 206);
  /* border: 1px solid black; */
  color: white;
}

.loginForm .btn {
  flex-grow: 1;
}

.backBtn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: black;
  font-weight: 900;
  background: transparent;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.2s ease-in-out;
}

.backBtn:hover {
  color: white;
  background: black;
}

.registerUser,
.loginUser {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  align-items: center;
  justify-items: stretch;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Adding styling for bookContainer */
.bookContainer {
  width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin: 16px auto;
}

.card {
  width: 100%;
  height: 300px;
  display: flex;
  /* flex-direction: column; */
  gap: 16px;
  justify-items: flex-start;
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
}

.card img {
  /* width: 100%;
  height: 100%; */
  max-width: 150px;
  object-fit: contain;
  /* object-position: center; */
}
.card div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 12px;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;
}

.card .bookmark {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.sortCategories {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortCategories select {
  margin-top: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid black;
}

/* Module */
.popUpBook {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-color: #ccc;
  opacity: 0.8;
  z-index: -1;
}

.bookSpecs {
  /* width: 75%; */
  /* height: 60%; */
  position: relative;
  display: grid;
  /* gap: 32px; */
  grid-template-columns: repeat(2, auto);
  background-color: rgba(255, 255, 255, 0.52);
  background-color: rgba(255, 255, 255, 0.828);
  backdrop-filter: blur(5px);

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
  /* margin: 0 auto; */
  overflow: hidden;
}

.bookSpecs img {
  height: auto;
  /* width: 100%; */
  /* object-fit: cover; */
}

.bookSp {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  padding: 32px;
}

.bookSp p {
  max-width: 100ch;
}

/* SnackBar */
.snackBar {
  position: fixed;
  bottom: 48px;
  right: -100%;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background: whitesmoke;
  border-radius: 32px 0 0 32px;
  border: 1px solid black;
  height: 75px;
  /* width: 300px; */
  z-index: 99;
  transition: all 0.2s ease-in-out;
}

.snackBar i {
  font-size: 32px;
  color: green;
}

.slideLeft {
  right: 0%;
}

.slideRight {
  right: -100%;
}

/* OverArching supers */
.hidden {
  display: none;
}

/* Profile page styöling */

.profileDisplay {
  --sz: 10px; /*** size ***/
  --c0: #3a1b0f;
  --c1: #ffc56f;
  --c2: #d99838;
  --c3: #9b5e05;
  --ts: 50% / calc(var(--sz) * 12.8) calc(var(--sz) * 22);
  background:
		/*bottom*/ conic-gradient(
        from 120deg at 50% 86.5%,
        var(--c1) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    conic-gradient(from 120deg at 50% 86.5%, var(--c1) 0 120deg, #fff0 0 360deg)
      var(--ts),
    /*bottom dark*/
      conic-gradient(from 120deg at 50% 74%, var(--c0) 0 120deg, #fff0 0 360deg)
      var(--ts),
    /*right*/
      conic-gradient(
        from 60deg at 60% 50%,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    /*left*/
      conic-gradient(
        from 180deg at 40% 50%,
        var(--c3) 0 60deg,
        var(--c1) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    /*top dark*/
      conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg)
      var(--ts),
    conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg)
      var(--ts),
    conic-gradient(from 0deg at 90% 35%, var(--c0) 0 90deg, #fff0 0 360deg)
      var(--ts),
    conic-gradient(from -90deg at 10% 35%, var(--c0) 0 90deg, #fff0 0 360deg)
      var(--ts),
    /*top*/
      conic-gradient(
        from -60deg at 50% 13.5%,
        var(--c1) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    conic-gradient(from -60deg at 50% 13.5%, var(--c1) 0 120deg, #fff0 0 360deg)
      var(--ts),
    conic-gradient(
        from -60deg at 50% 41%,
        var(--c2) 0 60deg,
        var(--c3) 0 120deg,
        #fff0 0 360deg
      )
      var(--ts),
    var(--c0);
  padding: 150px 0 32px 0;
}

.userDisplay {
  background-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  margin-top: 150px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.6);
  min-height: 250px;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  padding: 32px;
  justify-content: space-between;
  gap: 32px;
}

.userPic {
  width: 200px;
  border: 1px solid white;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(211, 211, 211, 0.3);
}

.savedBooks,
.ratedBooks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  gap: 16px;
  backdrop-filter: blur(5px);
  max-width: 1440px;
  margin: 32px auto;
}
